<a href="https://colab.research.google.com/github/victorananias/alura-machine-learning-001/blob/master/ML_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

In [ ]:
dataframe = pd.read_csv(uri)

# map = {
#     'home': 'principal',
#     'how_it_works': 'como_funciona',
#     'contact': 'contato',
#     'bnough': 'comprou'
# }

# dataframe = dataframe.rename(map)

dataframe.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
x = dataframe[['home', 'how_it_works', 'contact']]
y = dataframe['bought']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [ ]:
dataframe.shape

(99, 4)

In [ ]:
train_x = x[:75]
train_y = y[:75]

test_x = x[75:]
test_y = y[75:]
print('Treinaremos com %d elementos e testaremos %d elementos.' % (len(train_x), len(test_x)))

Treinaremos com 75 elementos e testaremos 24 elementos.

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(train_x, train_y)

predictions = model.predict(test_x)

accuracy = accuracy_score(test_y, predictions) * 100

print('A acurácia é foi de %.2f%%' % accuracy)

A acurácia é foi de 95.83%

# Usando a biblioteca para separar treino e teste

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

# o random_state torna a randomização "fixa"
SEED = 20
# o stratify mantem a proporção de y nos dados utilizados
train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)

print('Treinaremos com %d elementos e testaremos %d elementos.' % (len(train_x), len(test_x)))

model = LinearSVC()
model.fit(train_x, train_y)

predictions = model.predict(test_x)

accuracy = accuracy_score(test_y, predictions) * 100

print('A acurácia foi de %.2f%%' % accuracy)

Treinaremos com 74 elementos e testaremos 25 elementos.
A acurácia foi de 96.00%

In [ ]:
train_y.value_counts()

0    49
1    25
Name: bought, dtype: int64

In [ ]:
test_y.value_counts()

0    17
1     8
Name: bought, dtype: int64